body {
  background: url("../images/berlin.jpg") no-repeat center center fixed;
  background-size: cover;
}

.glyphicon {
    font-size: 50px;
}

.well {
  background-color: rgba(245, 245, 245, 0.8);
}

#jumbo {
  background: rgba(245, 245, 245, 0.8);
  text-align: center;
}
